.page {
  --text-blue: #1DA1F2;
  --text-gray: #909399;
  --bg-gray: #F5F8FC;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-gray);
  background-image: url(../../static/imgs/index-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .text-blue {
    color: var(--text-blue);
  }

  .content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    position: relative;

    .topbar {
      box-sizing: border-box;
      padding: 28px 40px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .filterbar {
        width: 40%;
        height: 64px;
        background-color: #fff;
        border-radius: 100em;

        display: flex;
        justify-content: center;
        align-items: center;

        .label {
          color: #666;
          font-size: 28px;
        }

        .banner {
          margin-left: 12px;
          width: 18px;
        }
      }

      .searchbar {
        width: 54%;
        height: 64px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        .input {
          width: 75vw;
          border-radius: 100em;
          box-sizing: border-box;
          padding-left: 30px;

          height: 64px;
          background-color: #fff;

          color: #333;
          font-size: 28px;
        }

        .mask,
        .clear {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;

          box-sizing: border-box;
          padding-left: 28px;

          display: flex;
          align-items: center;

          .icon {
            width: 32px;
            height: 32px;
          }

          .text {
            margin-left: 10px;
            font-size: 28px;
            color: var(--text-gray);
          }
        }

        .clear {
          z-index: 10;
          left: unset;
          right: 0;
          padding-left: 0;
          padding-right: 28px;
        }
      }
    }

    .patientlist {
      flex-shrink: 1;
      flex-grow: 1;

      background-color: #f9fdff;
      border-radius: 24px 24px 0px 0px;
      box-shadow: 0px -1px 5px rgba(232, 232, 232, 0.5);

      box-sizing: border-box;
      padding: 40px;

      position: relative;

      .nopatient {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner {
          width: 79vw;
        }

        .text {
          padding-bottom: 52px;
          font-size: 36px;
          color: #666;
        }
      }

      .patient {
        margin-bottom: 24px;
        height: 192px;

        width: 100%;
        box-shadow: 0px 4px 32px rgba(188, 188, 188, 0.2);
        border-radius: 16px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        box-sizing: border-box;
        padding: 20px;
        position: relative;

        .info {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          .upper {
            display: flex;
            align-items: center;

            .name {
              font-size: 36px;
              color: #333;
            }

            .seperator {
              margin-left: 20px;
              flex-shrink: 0;
              width: 1px;
              height: 25px;
              background-color: #d6d6d6;
            }

            .gender {
              margin-left: 20px;
              width: 28px;
              height: 28px;
            }

            .age {
              margin-left: 6px;
              font-size: 28px;
              color: #333;
            }

            .time {
              margin-left: 18px;
              font-size: 28px;
              color: #999999;
            }
          }

          .middle {
            margin-top: 16px;
            font-size: 32px;
            line-height: 44px;
            display: flex;
            color: var(--text-blue);
          }

          .lower {
            margin-top: 18px;
            font-size: 28px;
            color: #333;

            .warning {
              width: 28px;
              height: 28px;
              transform: translateY(4px);
            }
          }
        }

        .tag {
          position: absolute;
          background: var(--text-blue);
          box-shadow: 0px 2px 15px rgba(188, 188, 188, 0.15);
          right: 0;
          bottom: 0;
          width: 112px;
          height: 44px;
          border-bottom-right-radius: 16px;
          border-top-left-radius: 16px;
          font-size: 24px;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }

      .selectlist {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);

        .container {
          background-color: #F9FDFF;
          color: #333;
          font-size: 28px;

          box-sizing: border-box;
          padding: 0 20px;
          border-radius: 0px 0px 24px 24px;

          .item {
            box-sizing: border-box;
            padding: 16px 32px;
            border-top: 2px solid rgba(0, 0, 0, 0.1);

            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}