.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .current-page {
        font-size: 28px;
        color: #111;
    }

    .page-btn {
        box-sizing: border-box;
        padding: 10px 20px;
        border-radius: 8px;
        border: 2px solid #aaa;
        background-color: #fff;
        font-size: 20px;
        color: #666;
    }

    .opacity-0 {
        opacity: 0;
    }
}