.page {
  --text-gray: rgba(51, 51, 51, 0.9);
  --text-blue: #1DA1F2;
  --bg-gray: #F5F8FC;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-gray);
  background-image: url(../../static/imgs/index-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 160px;

    position: relative;

    .bottomlayer {
      position: absolute;
      top: 248px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #F6F6F6;
      border-top-left-radius: 36px;
      border-top-right-radius: 36px;
    }

    .bannerwrapper {
      z-index: 3;
      width: 100%;
      box-sizing: border-box;
      padding-top: 5px;

      // 加上这行，图片底部就不会有多余的空白
      display: flex;

      .bannerimg {
        width: 100%;
      }
    }

    .servicelist {
      z-index: 3;
      display: flex;
      flex-direction: column;

      .mainservices {
        margin-top: 40px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .service {
          width: 320px;
          height: 264px;
          box-sizing: border-box;
          padding: 32px;
          margin-bottom: 40px;

          border-radius: 32px;
          background-color: #fff;

          position: relative;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .name {
            z-index: 2;
            font-size: 36px;
            font-weight: 600;
            color: #fff;
          }

          .mask {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            z-index: 3;

            border-radius: 16px;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px);

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 32px;
            color: #fff;
          }
        }
      }

      .otherservices {
        .service {
          width: 100%;

          border-radius: 16px;
          background-color: #fff;

          box-sizing: border-box;
          padding: 12px 20px 16px;
          margin-bottom: 20px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          .left {
            display: flex;
            align-items: center;

            .othericon {
              width: 68px;
              height: 68px;
            }

            .servicename {
              margin-left: 32px;
              display: flex;
              flex-direction: column;
              font-size: 32px;
              color: #222;
            }
          }

          .arrow {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
