.index {
  background: #f9fbfc;
  height: 100vh;
  --primary-color: #ffd340;
}

.list-wrap {
  padding: 55px;
}

.list {
  width: 100%;
  height: 144px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  margin-bottom: 40px;
}

.left {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(120, 164, 250, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 35px;
  height: 35px;
}

.arrow-icon {
  width: 62px;
  height: 62px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}