.body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    overflow-y: auto;

    .tip {
        width: 100vw;
        background: #FFFFFF;
        padding-top: 26px;
        border-radius: 24px 24px 0 0;
        overflow: hidden;
        box-sizing: border-box;
        flex-shrink: 0;

        .name {
            font-size: 40px;
            line-height: 56px;
            color: var(--primary-color);
            text-align: center;
        }
    }

    .desc {
        width: 100%;
        border-radius: 24px 24px 0 0;
        box-sizing: border-box;
        margin-top: 26px;
        padding-top: 14px;
        padding-bottom: 40px;
        background: #FEF3ED;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 26px;
        text-align: left;
        color: #333333;

        .icon {
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }

        .range {
            font-size: 24px;
            color: #FF5C00;
        }
    }

    .content {
        position: relative;
        top: -22px;
        background: #FFFFFF;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        box-sizing: border-box;
        padding: 0 40px;
        flex: 1;

        .desc2 {
            width: 100%;
            box-sizing: border-box;
            margin-top: 32px;
            padding: 10px 24px;
            border-radius: 100em;
            background: #EDF7FE;
            font-size: 24px;

            display: flex;
            align-items: center;

            .icon {
                width: 32px;
                height: 32px;
                margin-right: 20px;
            }
        }

        .cardBox {
            box-sizing: border-box;
            margin-top: 32px;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .cardWrapper {
                position: relative;
            }

            .card {
                width: 300px;
                height: 340px;
                background: #EBF2FF;
                box-sizing: border-box;
                border: 2px dashed var(--primary-color);
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                .cardContent {
                    width: 244px;
                    height: 284px;
                    background: #DDE8FD;
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .addbtn {
                        width: 100px;
                        height: 100px;
                    }

                    .cardImg {
                        width: 244px;
                        height: 284px;
                    }
                }
            }

            .removePhoto {
                position: absolute;
                top: -24px;
                right: -14px;
                width: 48px;
                height: 48px;
            }
        }

        .label {
            font-size: 28px;
            line-height: 40px;
            color: #333333;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 24px;
        }

        .btnWrapper {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            background-color: #fff;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px 0 50px;
        }

        .btn {
            background: #BBD4FF;
            border-radius: 80px;
            width: calc(100vw - 160px);
            height: 86px;
            font-size: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
        }

        .activeBtn {
            background: linear-gradient(301.23deg, #1DA1F2 0%, #3FBAFF 100%);
        }
    }

    :global(.taroify-backdrop) {
        background-color: rgba(0, 0, 0, 0.37);
    }

    :global(.taroify-popup--bottom) {
        width: calc(100vw - 80px);
        left: 40px;
        bottom: 52px;
        border-radius: 16px;
    }

    .list {
        height: 102px;
        text-align: center;
        color: #333333;
        font-size: 40px;
        line-height: 102px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
    }

    .list:last-child {
        border-bottom: none;
        color: #999999;
    }

    .polling {
        position: fixed;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
}

.guideBox {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;

    .guide {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #ffffff;
        margin-top: 20px;
        overflow-y: auto;

        .content {
            width: 100vw;
            flex-grow: 1;
            flex-shrink: 0;
            background: #FFFFFF;
            border-radius: 24px;
            transform: translateY(-20px);
            padding: 64px 80px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            box-sizing: border-box;

            .guideImg {
                width: 382px;
                min-height: 412px;
                display: block;
            }

            .remark {
                font-size: 36px;
                line-height: 50px;
                color: #666666;
                margin-top: 60px;
                margin-bottom: 10px;
            }

            .desc {
                font-size: 24px;
                color: var(--primary-color);
            }

            .warning {
                font-size: 36px;
                line-height: 50px;
                color: #333333;
                margin-top: 80px;
                margin-bottom: 36px;
            }

            .sampleImg {
                width: 350px;
                box-sizing: border-box;
                padding: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #EBF2FF;
                border: 1px dashed #3F85FF;
                border-radius: 12px;

                .samplePic {
                    width: 100%;
                }
            }

            .line {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                justify-content: flex-start;
                width: 100%;
            }

            .icon {
                min-width: 32px;
                min-height: 32px;
                font-size: 24px;
                background-color: #FFC62B;
                border-radius: 32px;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                transform: translateY(4px);
            }

            .label {
                font-size: 28px;
                line-height: 40px;
                color: #666666;
            }

        }

    }
}


.btnbox {
    height: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 40px;

    .btn {
        background: linear-gradient(301.23deg, #1DA1F2 0%, #3FBAFF 100%);
        border-radius: 80px;
        width: calc(100vw - 160px);
        height: 86px;
        left: 80px;
        font-size: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
}