.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    .tipBox {
        width: 100vw;
        box-sizing: border-box;
        padding: 20px 40px 0;
        z-index: 1;
        text-align: center;

        .tip {
            width: 100%;
            height: 104px;
            background: #FFFFFF;
            border-radius: 24px;
            padding: 28px 40px;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
                font-size: 36px;
                color: #333333;
                font-weight: 700;
            }

            .gender {
                margin-left: 20px;
                width: 28px;
                height: 28px;
            }

            .age {
                margin-left: 6px;
                font-size: 24px;
                color: #333;
                transform: translate(6px, -4px);
                display: inline-block;
            }

            .time {
                margin-left: 18px;
                font-size: 24px;
                color: #999999;
            }
        }
    }

    .content {
        background: #F6F6F6;
        box-sizing: border-box;
        padding: 28px 40px 180px;
        position: relative;

        .result {
            background: linear-gradient(145deg, #E0ECFF 16.47%, #9FC6FF 93.61%);
            border-radius: 24px;
            padding: 28px 16px 20px 16px;
            position: relative;

            .doctor {
                position: absolute;
                right: 0;
                top: -50px;
                width: 130px;
                z-index: 2;
            }

            .title {
                padding-left: 24px;
                font-size: 32px;
                color: #1DA1F2;
                line-height: 32px;
            }

            .card {
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 0px 0px 10px rgba(199, 213, 238, 0.54);
                backdrop-filter: blur(2px);
                border-radius: 16px;
                margin-top: 30px;

                .head {
                    height: 68px;
                    text-align: center;
                    font-size: 28px;
                    color: #333333;
                    line-height: 68px;
                }

                .resultBody {
                    padding: 28px 22px;
                    font-size: 24px;
                    line-height: 34px;
                    text-align: justify;
                    color: #666666;
                    background-color: #FFFFFF;

                    .desc {
                        font-size: 24px;
                        line-height: 34px;
                        color: #FF5C00;
                        margin-top: 20px;
                    }

                    .icon {
                        width: 36px;
                        height: 36px;
                        margin-right: 2px;
                        transform: translateY(8px);
                    }
                }
            }
        }

        .no_teeth,
        .no_caries {
            box-sizing: border-box;
            padding: 136px 40px 0;

            .img {
                width: 100%;
            }
        }

        .teeth {
            background: #E0ECFF;
            box-shadow: 0px 0px 10px rgba(199, 213, 238, 0.54);
            backdrop-filter: blur(4px);
            border-radius: 24px;
            position: relative;
            margin-top: 28px;

            .title {
                height: 92px;
                padding-left: 40px;
                line-height: 92px;
                font-size: 28px;
                color: #333333;
            }

            .teethImgBox {
                background: #F6F9FF;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 32px 0;
            }
        }

        .warningResult {
            .warningHead {
                margin-left: 24px;
                font-weight: 800;
                font-size: 44px;
                color: #333333;
                position: relative;
            }

            .warningHead::after {
                content: '';
                position: absolute;
                width: 116px;
                height: 12px;
                background: linear-gradient(90deg, #1DA1F2 0%, rgba(255, 255, 255, 0) 93.18%);
                left: 0;
                top: 42px;
            }

            .warningStatusBox {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                padding: 0 30px;

                .warningLine {
                    width: 180px;
                    height: 20px;
                    border-radius: 18px;
                    position: relative;

                    &:not(:first-child) {
                        margin-left: 16px;
                    }

                    .line {
                        width: 80px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translate(-50%, -10px);
                    }

                }

                .warningLine:nth-child(1) {
                    background: #4FD0B1;
                }

                .warningLine:nth-child(2) {
                    background: #F2C73B;
                }

                .warningLine:nth-child(3) {
                    background: #EE6440;
                }
            }
        }

        .warningRefer {
            background: linear-gradient(180deg, #D5EFFF 0%, #F9FDFF 98.45%);
            padding: 80px 40px 34px 40px;
            margin-top: 60px;
            position: relative;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;

            .tishi {
                position: absolute;
                left: 16px;
                top: -8px;
                width: 166px;
                height: 58px;
            }

            .tishitext {
                position: absolute;
                left: 36px;
                top: 0px;
                font-size: 28px;
                color: #FFFFFF;
            }

            .resultBody {
                font-size: 24px;
                line-height: 34px;
                text-align: justify;
                color: #666666;

                .desc {
                    font-size: 24px;
                    line-height: 34px;
                    color: #FF5C00;
                    margin-top: 20px;
                }

                .icon {
                    width: 36px;
                    height: 36px;
                    transform: translateY(8px);
                }
            }
        }

        .warningList {
            box-sizing: border-box;
            padding-top: 46px;
            background: rgba(255, 255, 255, 0.9);
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            overflow: hidden;

            .listHead {
                display: flex;

                .border {
                    width: 4px;
                    height: 60px;
                    background-color: var(--primary-color);
                }

                .titleBox {
                    font-size: 28px;
                    color: #333333;
                    position: relative;
                    margin-left: 14px;
                    margin-right: 14px;

                    .issue {
                        width: 162px;
                    }

                    .issueText {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 52px;
                        white-space: nowrap;
                        color: #fff;
                    }
                }

                .hLine {
                    flex: 1;
                    height: 1px;
                    background-color: var(--primary-color);
                    transform: translateY(28px);
                }

                .dot {
                    width: 18px;
                    height: 18px;
                    border: 1px solid var(--primary-color);
                    border-radius: 50%;
                    transform: translateY(20px);
                }
            }

            .listBody {
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                padding: 40px 26px 60px;

                .listItem {
                    font-size: 24px;
                    color: #333333;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    .itemBg {
                        border-radius: 20px;
                        background-color: #D5EFFF;
                        display: inline-block;
                        padding: 6px 24px;
                    }
                }

                .listItem::before {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: var(--primary-color);
                    content: '';
                    display: inline-block;
                    margin-right: 20px;
                }

                .noProblem {
                    font-size: 28px;
                    margin-bottom: 280px;
                }
            }
        }

    }

    .btn {
        background: linear-gradient(301.23deg, #1DA1F2 0%, #3FBAFF 100%);
        border-radius: 80px;
        width: calc(100vw - 160px);
        height: 86px;
        position: fixed;
        bottom: 50px;
        left: 80px;
        font-size: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }

    :global(.taroify-backdrop) {
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 40px 40px 0px 0px;
    }

    :global(.taroify-popup--bottom) {
        border-radius: 40px 40px 0px 0px;
    }

    .shareBox {
        width: 100%;
        height: 360px;
        background: #F1F1F1;
        border-radius: 40px 40px 0px 0px;
        overflow: hidden;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;

        .shareIconBox {
            display: flex;
            width: 100%;

            .iconBox {
                width: 88px;
                height: 88px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 100px;

                .icon {
                    width: 40px;
                    height: 40px;
                }
            }

            .iconText {
                font-size: 32px;
                line-height: 44px;
                color: #000000;
                margin-left: 8px;
                margin-top: 12px;
            }

            .shareBtn {
                background-color: transparent;
                border: none;
                margin: 0;
                height: 144px;
                text-align: left;
            }

        }

        .cancel {
            width: 600px;
            height: 96px;
            text-align: center;
            font-size: 32px;
            line-height: 96px;
            color: #333333;
            background: #FFFFFF;
            border-radius: 104px;
            margin-top: 32px;
        }
    }

    .genImgBox {
        position: fixed;
        top: 180px;
        width: calc(100vw - 80px);
        left: 40px;
        height: calc(100vh - 360px - 210px);
        background-color: #ffffff;
        overflow-y: auto;

        .reportImg {
            width: 100%;
        }
    }
}