.box {
    height: 100vh;
    background-color: #f9fbfc;
    --primary-color: #ffd340;
    --rv-primary-color: var(--primary-color);
    --notify-warning-background-color: var(--primary-color);
    position: relative;

    :global(.taroify-popup--top) {
        top: 82PX;
    }
}

.stepBox {
    padding: 30px 100px;
}

.subject {
    margin: 10PX 15PX;
    text-align: center;
    font-weight: bold;
}

.tabBox {
    margin: 10PX 15PX 10PX 15PX;
    background: #ffffff;
    box-shadow: 4PX 4PX 8PX 0PX rgba(0, 0, 0, 0.16);
    border-radius: 8PX;
    overflow: hidden;

    .swiperBox {
        height: 143PX;
        width: 100%;
        border-radius: 8PX 8PX 0PX 0PX;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .title2 {
        font-size: 15PX;
        font-weight: bold;
        color: #181818;
        border-bottom: 1PX solid #efefef;
        height: 46PX;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 13PX;
        font-weight: bold;
        color: #181818;
        margin-bottom: 10PX;
        padding-top: 10PX;
    }

    .tibox {
        padding: 15PX;
        border-top: 1PX solid #efefef;
    }

    .zhinan {
        min-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        flex-direction: column;
        padding: 0 30px;

        .zhinanText {
            color: #181818;
        }

        .chakanzhinan {
            color: var(--primary-color);
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }
}

.btn {
    margin-top: 8PX;
    color: #181818;
    width: 100%;

    :global(.taroify-loading) {
        color: #1989fa;
        margin-top: 10px;
    }

}

.btnbox {
    padding: 0 15PX;
    display: flex;
    gap: 30px;
}

.iconBox {
    width: 54PX;
    height: 54PX;
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5PX;
    position: relative;

    .clear {
        position: absolute;
        right: -6px;
        top: -10px;
        z-index: 20;
    }
}

.iconImg {
    width: 36px;
}

.mediaBox {
    display: flex;
}

.imgs {
    width: 54PX;
    height: 54PX;
    margin-right: 5PX;
}

.videoBox {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.luxiang {
    width: 25PX;
    height: 25PX;
}

.cardBox {
    background-color: transparent;
    padding: 8PX;
}

.card {
    background-color: #fff;
    background: #ffffff;
    box-shadow: 2PX 2PX 4PX 0PX rgba(24, 24, 24, 0.05);
    border: 1PX solid #f0f0f0;
    padding: 5PX 15PX;
    font-size: 13PX;
    border-radius: 8PX;

    .title {
        font-size: 15PX;
        font-weight: bold;
        color: #181818;
        height: 46PX;
        display: flex;
        align-items: center;
        border-bottom: 1PX solid #efefef;
        margin-bottom: 15PX;

        img {
            width: 20PX;
            height: 20PX;
        }
    }

    .intro {
        margin-bottom: 8px;
        font-size: 32px;
        font-weight: normal;
        line-height: 48px;
    }
}

.answers {
    padding: 30px;
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 0px;
    color: #181818;
}

.tagBox {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    padding: 48px 100px;

    .tag {
        width: 158px;
        height: 60px;
        font-size: 28px;
        font-weight: normal;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0px;
        color: #666666;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: #F7F7F7;
    }

    .activeTag {
        background: var(--primary-color);
        color: #fff;
    }
}