.index {
  background: #f9fbfc;
  height: 100vh;
  overflow: hidden;
}
.list {
  width: 100%;
  height: 90px;
  background: #ffffff;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
