.custom-button {
  width: 80vw;
  height: 88px;

  border-radius: 100em;
  background: linear-gradient(270deg, #1DA1F2 3%, #3FBAFF);

  margin: 0 auto;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 36px;
  color: #fff;
}