.index {
  background: #f9fbfc;
  height: 100vh;
  --primary-color: #ffd340;
  --notify-warning-background-color: var(--primary-color);
}

.list-wrap {
  padding: 55px;
}

.list {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  margin-bottom: 40px;
  overflow: hidden;
}

.list-item-wrap {
  margin-bottom: 20px;
  background-color: #fff;
}

.list-item-wrap:last-child {
  margin-bottom: 0px;
}

.active {
  border: 1px solid var(--primary-color);
}

.select {
  width: 45px;
  height: 45px;
}

.gender {
  width: 62px;
  height: 62px;
}

.arrow-icon {
  width: 62px;
  height: 62px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt10 {
  margin-top: 38px;
}

.taro-btn {
  width: 100%;
  display: block;
}