.password {
  background: #f6f6f6;
  min-height: 100vh;
  --space: 30px;
  --primary-color: #ffd340;
  font-size: 28px;
  --notify-warning-background-color: var(--primary-color);

  .row {
    padding-top: var(--space);

    .at-input {
      margin-left: 0;
      padding: 24px;
    }

    .at-input::after,
    .at-list::after,
    .at-list__item::after {
      border: none;
    }
  }

  .confirm {
    width: 90%;
    margin: var(--space) auto 0;
    background-color: var(--primary-color);
    border: 0;
  }

  .actions {
    display: flex;
    justify-content: center;
  }
}