.page {
    --text-blue: #1DA1F2;
    --primary-color: #1DA1F2;
    --bg-gray: #F5F8FC;

    width: 100vw;
    height: 100vh;

    background-color: var(--bg-gray);
    background-image: url(./static/imgs/index-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}